.login-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.login-form-section {
    flex: 0.7;
    padding: var(--spacing-xl);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--surface);
}

.image-section {
    flex: 0.4;
    background-image: url("../images/hydroponic.webp");
    background-size: cover;
    background-position: center;
    border-radius: 30px;
}


.login-form {
    width: 100%;
    max-width: 600px;
}

.welcome-text {
    text-align: left;
    margin-bottom: var(--spacing-xl);
}

.welcome-text h1 {
    font-size: 2.5rem;
    margin-bottom: var(--spacing-xs);
}

.welcome-text p {
    color: var(--text-secondary);
    font-size: 0.9rem;
}

.form-group {
    margin-bottom: var(--spacing-md);
}

.form-group label {
    display: block;
    margin-bottom: var(--spacing-sm);
    color: var(--text-primary);
    font-size: 0.9rem;
}

.form-group input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: var(--radius-md);
    font-size: 1rem;
}

.forgot-password {
    display: block;
    text-align: right;
    color: var(--primary);
    text-decoration: underline;
    font-size: 0.9rem;
    margin-bottom: var(--spacing-md);
}

.login-button {
    width: 100%;
    height: 50px;
    background: var(--primary);
    color: white;
    padding: var(--spacing-sm);
    border: none;
    border-radius: var(--radius-md);
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: var(--spacing-md);
}

.login-button:hover {
    background: var(--primary-light);
}

.divider {
    text-align: center;
    margin: var(--spacing-md) 0;
    color: var(--text-secondary);
}

.info-message {
    width: 100%;
    padding: var(--spacing-md);
    background: #f0f8ff;
    border: 1px solid #ddd;
    border-radius: var(--radius-md);
    text-align: center;
    color: var(--text-secondary);
    font-size: 0.9rem;
    line-height: 1.5;
}

@media (max-width: 768px) {
    .image-section {
        display: none;
    }
}
