{% import "macros/gauges.html" as gauges %}

{% macro env_variable_row(variable, icon, value, unit, color, gauge_id, sections) %}
<div class="env-variable-row">
  <div class="env-variable-gauge">
    {{ gauges.env_gauge(variable + ' Rata-rata', icon, value, unit, color, gauge_id) }}
  </div>
  <div class="env-variable-sections">
    {% for section in sections %}
    <div class="section-reading" 
         data-section="{{ section.name }}" 
         data-type="{{ 'temp' if variable == 'Suhu' else 'humidity' if variable == 'Kelembapan' else 'light' }}">
      <span class="section-name">{{ section.display }}</span>
      <span class="section-value">{{ section.value }}{{ unit }}</span>
      <span class="section-indicator">
        <i class="fas fa-{{ section.trend_icon }}" style="color: {{ section.trend_color }};"></i>
      </span>
    </div>
    {% endfor %}
  </div>
</div>
{% endmacro %}
